
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
</head>
<body>
    <div th:fragment="channelsTable">
     <table class="table table-striped">
      <thead class="table-dark">
       <tr>
        <th> Id</th>
        <th> Tvg-Id</th>
        <th> GroupId</th>
        <th> Title</th>
        <th> Selected</th>
       </tr>
      </thead>
      <tbody>
       <tr th:each="channel, itemStat : ${form.channels}">
        <td><input th:name="|channels[${itemStat.index}].id|" th:value="${channel.getId()}" tabindex="-1" readonly/>
        </td>
        <td><input th:name="|channels[${itemStat.index}].tvgId|"
          th:value="${channel.getTvgId()}" tabindex="-1" readonly/></td>
        <td><input th:name="|channels[${itemStat.index}].groupId|"
          th:value="${channel.getGroupId()}" tabindex="-1" readonly/></td>
        <td><input th:size="30" th:placeholder="Name + ' ' + ${itemStat.count}"
          th:name="|channels[${itemStat.index}].tvgName|"
          th:value="${channel.getTvgName()}" tabindex="-1" readonly/></td>
        <td><input type="checkbox" th:placeholder="Selected + ' ' + ${itemStat.count}"
          th:name="|channels[${itemStat.index}].selected|"
          th:checked="${channel.isSelected()}" /></td>
       </tr>
      </tbody>
     </table>
     </div>
</body>
</html>
