<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
<title>M3UToolsJPA</title>

<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<!-- <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script> -->
<script th:src="@{webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{webjars/font-awesome/5.8.2/js/all.js}"></script>
<link rel="stylesheet"
	th:href="@{webjars/font-awesome/5.8.2/css/all.css}" />
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/css/bootstrap.min.css}" />
<body>

	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container-fluid" style="max-width: 1024px; margin: 0 auto;">
		<h2 class="text-center">Filters</h2>

		<div>
			<form action="#" th:action="@{/newFilter}" method="get">
				<button type="submit" class="btn btn-default btn-sm" name="action"
					id="btnNewFilter" value="newFilter">
					<i class="fa fa-plus-square"></i> New
				</button>
			</form>
		</div>
		<div th:if="${message != null}"
			class="alert alert-success alert-dismissible fade show text-center message"
			role="alert">
			[[${message}]]
			<button type="button" class="close btn-sm" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div th:if="${filters.size() > 0}">
			<table class="table table-hover table-responsive-xl">
				<thead class="thead-light">
					<tr>
						<th hidden="true" scope="col">Id</th>
						<th scope="col">Filter Name</th>
						<th scope="col">Description</th>
						<th scope="col">Include</th>
						<th scope="col">Exclude</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="filter : ${filters}">
						<th hidden="true" scope="row">[[${filter.id}]]</th>
						<td>[[${filter.name}]]</td>
						<td>[[${filter.description}]]</td>
						<td>[[${filter.include}]]</td>
						<td>[[${filter.exclude}]]</td>
						<td>
							<form action="#" th:action="@{/editFilter}" method="post">
								<input type="hidden" th:value="${filter.id}" name="name" id="name" />
								<button type="submit" class="btn btn-default btn-sm" name="action" id="btndownload" value="download">
									<i class="fa fa-pencil-square"></i>
								</button>
							</form>
						</td>
						<td>
							<form action="#" th:action="@{/deleteFilter}" method="post">
								<input type="hidden" th:value="${filter.id}" name="name" id="name" />
								<button type="submit" class="btn btn-default btn-sm" name="action" id="btndownload" value="download">
									<i class="fa fa-minus-square"></i>
								</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:unless="${filters.size() > 0}">
			<span>No Filters found!</span>
		</div>

	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>