<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
<title>M3UToolsJPA</title>

<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<!-- <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script> -->
<script th:src="@{webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{webjars/font-awesome/5.8.2/js/all.js}"></script>
<link rel="stylesheet" th:href="@{webjars/font-awesome/5.8.2/css/all.css}"/>
<link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}" />

<script type="text/javascript">
	function groupChange(selectObj) {
		var idx = selectObj.selectedIndex;
		var which = selectObj.options[idx].value;
		// alert("id:" + idx + " name:" + encodeURIComponent(which));
		if (selectObj.value) {
			selectObj.form.submit(which);
		}
	}
	
	function openInformationModal(row) { // begin function

    	var val = row.getAttribute("value");
    	var api = document.getElementById("moviedbapi").value;
    	var url = document.getElementById("moviedbsearchURL").value;
    	var movieurl = document.getElementById("moviedbsearchMovieURL").value;
    	
    	$.ajax({ // begin ajax
        	url: url,
            data: {
                api_key: api,
                language: "en-GB",
                query: val
            },
            dataType : 'json',
            context : this,
            success: function(data) {
            	$.ajax({
                	url: movieurl + "/" + data.results[0].id,
    	            data: {
    	                api_key: api,
    	                language: "en-GB"
    	            },
    	            dataType : 'json',
    	            context : this,
    	            error: function() {
    	            	alert("No information available");
    	            },
                    success: function(data) {
                    	console.log(data);
                        console.log(data.overview);
                        $("#modalTitleH4").html(data.title);
                        $("#modalBodyDiv").html(data.overview);
                        $("#informationModal").modal("show");
                    }
            	})
            }
        }) //end ajax
    } // end function

</script>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container-fluid" style="max-width: 1024px; margin: 0 auto;">
		<h2 class="text-center">Channels</h2>

		<div th:if="${message != null}"
			class="alert alert-success alert-dismissible fade show text-center message"
			role="alert">
			[[${message}]]
			<button type="button" class="close btn-sm" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="my-3">
			<form th:action="@{/}" id="searchForm">
				<div class="row d-flex">
					<div class="col-md-6 mt-2">
						<div class="col-md-3 input-group mt-2">
							<div class="input-group-prepend">
								<label class="input-group-text" for="${group.id}">Channel
									Group:</label> <select form="searchForm" name="groupId"
									th:onchange="'groupChange(this)'";>
									<option th:each="group : ${groups}" th:value="${group.id}"
										th:text="${group.name}"
										th:selected="${group.id==selectedGroup.id}">Groups</option>
								</select>
							</div>
						</div>
					</div>
					<div></div>
					<div class="col-md-3 input-group mt-2">
						<div class="input-group-prepend">
							<label class="input-group-text" for="pageSize">Items per
								page:</label> <select form="searchForm" name="size"
								th:value="${pageSize}" onchange="changePageSize()"
								class="size-select" id="pageSize">
								<option th:each="s : ${ {5, 10, 15} }" th:value="${s}"
									th:text="${s}" th:selected="${s == pageSize}"></option>
							</select>
						</div>
					</div>

				</div>
			</form>
		</div>

		<div th:if="${items.size() > 0}">
			<table class="table table-hover table-responsive-xl">
				<thead class="thead-light">
					<tr>
						<th hidden="true" scope="col">Id</th>
						<th scope="col">Title</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}">
						<th hidden="true" scope="row">[[${item.id}]]</th>
						<td>[[${item.tvgName}]]</td>
						<form action="#" th:action="@{/download}" method="post">
					<td><input type="hidden" th:value="${item.tvgName}"
						name="name" id="name" />
						<button type="submit" class="btn btn-default btn-sm" name="action"
							id="btndownload" value="download">
							<i class="fa fa-download fa-lg"></i>
						</button></td>
				</form>
				<td><input type="hidden" th:value="${item.search}"
					name="searchInfo" id="searchInfo" />
					<button type="submit" class="btn btn-default btn-sm"
						name="btninformation" id="btninformation"
						th:onclick="openInformationModal(this);" th:value="${item.search}">
						<i class="fa fa-info-circle fa-lg"></i>
					</button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:unless="${items.size() > 0}">
			<span>No channels found!</span>
		</div>

		<nav aria-label="Pagination" th:if="${totalPages > 0}">
			<ul class="pagination justify-content-center">
				<li class="page-item"
					th:classappend="${currentPage == 1} ? 'disabled'"><a
					th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
				</li>
				<li class="page-item font-weight-bold"
					th:classappend="${currentPage == 1} ? 'disabled'"><a
					th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
				</li>
				<li class="page-item disabled" th:if="${currentPage - 2 > 1}">
					<a class="page-link" href="#">...</a>
				</li>
				<li class="page-item"
					th:classappend="${page == currentPage} ? 'active'"
					th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
					<a
					th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
				</li>
				<li class="page-item disabled"
					th:if="${currentPage + 2 < totalPages}"><a class="page-link"
					href="#">...</a></li>
				<li class="page-item font-weight-bold"
					th:classappend="${currentPage == totalPages} ? 'disabled'"><a
					th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
				</li>
				<li class="page-item"
					th:classappend="${currentPage == totalPages} ? 'disabled'"><a
					th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete Confirmation</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<span id="confirmText"></span>
				</div>

				<div class="modal-footer">
					<a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="informationModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
<!-- 					<button type="button" class="close" data-dismiss="modal">&times;</button> -->
					<h4 class="modal-title" id="modalTitleH4"></h4>
				</div>
				<div class="modal-body" id="modalBodyDiv"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div>
		<input type="hidden" name="moviedbapi" id="moviedbapi"
			th:value="${movieDb.api}" /> <input type="hidden" name="moviedburl"
			id="moviedbsearchURL" th:value="${movieDb.url}" /> <input
			type="hidden" name="moviedbmovieURL" id="moviedbsearchMovieURL"
			th:value="${movieDb.movieURL}" />
	</div>

	<div th:replace="fragments/footer :: footer"></div>

	<script type="text/javascript">
		$(document).ready(
				function() {
					$(".btn-delete").on(
							"click",
							function(e) {
								e.preventDefault();
								link = $(this);

								tutorialTitle = link.attr("tutorialTitle");
								$("#yesBtn").attr("href", link.attr("href"));
								$("#confirmText").html(
										"Do you want to delete the Tutorial \<strong\>"
												+ tutorialTitle
												+ "\<\/strong\>?");
								$("#confirmModal").modal();
							});

					$("#btnClear").on("click", function(e) {
						e.preventDefault();
						$("#keyword").text("");
						window.location = "[[@{/}]]";
					});
				});

		function changePageSize() {
			$("#searchForm").submit();
		}
	</script>
</body>

</html>