<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
	<title>M3UToolsJPA</title>

	<script th:src="@{webjars/jquery/jquery.min.js}"></script>
	<!-- <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script> -->
	<script th:src="@{webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{webjars/font-awesome/6.4.2/js/all.js}"></script>
	<link rel="stylesheet" th:href="@{webjars/font-awesome/6.4.2/css/all.css}" />
	<link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

	<div th:replace="~{fragments/informationModalScript :: script}"></div>
</head>

<body>

	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container-fluid" style="max-width: 1024px; margin: 0 auto;">
		<h3 class="text-center">Search</h3>

		<form th:action="@{/search}" id="searchForm">
			<div class="row d-flex gap-3">
				<div class="col-md-6 mt-2">

					<div class="input-group-prepend gap-3">
						<label class="input-group-text gap-3">Search Type</label>
						<select form="searchForm" name="searchType">
							<option value="title">Title</option>
							<option value="actor">Actor</option>
							<option value="year">Year</option>
							<option th:each="genre : ${genres}"
                    				th:value="${genre.id}"
                    				th:text="${genre.name}">
                    		</option>
						</select>
						<input type="text" id="criteria" name="criteria" th:value="*{criteria}"
							placeholder="Enter search criteria" />
					</div>
					<button type="submit" class="btn btn-info">Search</button>
					<button type="reset" class="btn btn-info">Reset</button>


				</div>
			</div>
		</form>
	</div>

	<div th:replace="~{fragments/itemsTable :: itemsTable}"></div>

	<div th:unless="${items.size() > 0}" style="color: crimson;">
		<p style="text-align:center">No Titles found!</p>
	</div>

	<div th:replace="~{fragments/informationModal :: informationModal}"></div>

	<div th:replace="~{fragments/movieDbApi :: movieDbApi}"></div>

</body>

</html>