<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Video Player" </title>
	<link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}" />
	<script th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script>
		$(document).ready(function () {
			var video = document.getElementById('videoPlayer');

			// Add event listener for seek
			video.addEventListener('seeking', function () {
				console.log('Seeking to: ' + video.currentTime);
			});
		});

	</script>

</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>
	
	<div class="container mt-5">
		<video id="videoPlayer" class="w-100" controls autoplay>
			<source th:src="${streamUrl}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>