<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
<title>M3UToolsJPA</title>

<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<!-- <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script> -->
<script th:src="@{webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{webjars/font-awesome/5.8.2/js/all.js}"></script>
<link rel="stylesheet" th:href="@{webjars/font-awesome/5.8.2/css/all.css}"/>
<link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div width="90%" class="form-group shadow-textarea">
		<label for="exampleFormControlTextarea6">Log File -
			M3UToolsJPA.log</label>
		<textarea class="form-control z-depth-1"
			id="exampleFormControlTextarea6" rows="30" placeholder="..."
			th:text="${logFile}"></textarea>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>