<header th:fragment="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/}">
      M3UTools JPA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/resetDatabase}">Reload m3u</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/viewLog}">View Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/properties}">Properties</a>
        </li>
      </ul>
    </div>
  </nav>
</header>