/target/
/M3UToolsJPA.log
/m3uTools.mv.db
/M3UToolsJPA.log.2023-01-15.0.gz
/M3UToolsJPA.log.2023-01-16.0.gz
/M3UToolsJPA.log.2023-01-18.0.gz
/M3UToolsJPA.log.2023-01-19.0.gz
/M3UToolsJPA.log.2023-01-20.0.gz
/config.properties.bu
/m3uTools.trace.db
/M3UToolsJPA.log.2023-06-28.0.gz
/M3UToolsJPA.m3u
/channels.m3u
/bin/
/.classpath
/.factorypath
/deployM3UToolsJPA.sh
/epg.xml
/generatedChannels.xml
